Repository CFD-GO/TCLB, pull requests merged in 2020-08, with the labels that each got.

#302 d3q27_kl model
  example/nonnewtonian/kl_cyl_test.xml
  models/nonnewtonian/d3q27_kl/Dynamics.R
  models/nonnewtonian/d3q27_kl/Dynamics.c.Rt
  models/nonnewtonian/d3q27_kl/conf.mk
Labels: model

#304 Correcting d3q27_kl for unitialized value
  models/nonnewtonian/d3q27_kl/Dynamics.c.Rt
Labels: bug, model

#308 Fixing bug in Handler reference counting
  src/Handlers.h
  src/configure.ac
  src/cross.h
  src/main.cpp
Labels: bug

#310 Python binary option
  src/configure.ac
Labels: python
