Repository CFD-GO/TCLB, pull requests merged in 2020-07, with the labels that each got.

#295 + alter line so that Gadi will compile with hdf5
  src/configure.ac
Labels: bug

#297 + add Neumann boundary and example with oscillatory pressure
  example/nonnewtonian/pressureProfile_alternate.py
  example/nonnewtonian/viscoplastic_tunnel_test_oscillatory.xml
  models/nonnewtonian/d3q27_viscoplastic/Dynamics.R
  models/nonnewtonian/d3q27_viscoplastic/Dynamics.c
  models/nonnewtonian/d3q27_viscoplastic/conf.mk
Labels: model

#298 Example files for d3q27_viscoplastic with csv files
  example/nonnewtonian/Alternate_PressureIn.csv
  example/nonnewtonian/pressureProfile_alternate.py
  example/nonnewtonian/viscoplastic_tunnel_test_oscillatory.xml
  models/nonnewtonian/d3q27_viscoplastic/Dynamics.R
  models/nonnewtonian/d3q27_viscoplastic/Dynamics.c
  models/nonnewtonian/d3q27_viscoplastic/conf.mk
Labels: model

#299 Adding keepcode option to configure
  src/configure.ac
Labels: enhancement
